name: pfeed
services:
  minio:
    container_name: pe-minio
    image: minio/minio:RELEASE.2025-07-23T15-54-02Z
    ports:
      - "${MINIO_PORT:-9000}:9000"
      - "${MINIO_CONSOLE_PORT:-9001}:9001"
    volumes:
      - ${MINIO_DATA_PATH}:/data
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-pfunder}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-password}
    command: server /data --console-address ":9001"
    profiles:
      - minio
  # timescaledb:
  #   container_name: pe-timescaledb
  #   image: timescale/timescaledb-ha:pg17.4-ts2.19.3
  #   ports:
  #     - "${TIMESCALEDB_PORT:-5432}:5432"
  #   volumes:
  #     - ${TIMESCALEDB_DATA_PATH}/timescaledb:/var/lib/postgresql/data
  #   environment:
  #     POSTGRES_DB: ${TIMESCALEDB_DB:-pfeed}
  #     POSTGRES_USER: ${TIMESCALEDB_USER:-pfunder}
  #     POSTGRES_PASSWORD: ${TIMESCALEDB_PASSWORD:-password}
  #   profiles:
  #     - timescaledb
