[workspace]
authors = ["softwareentrepreneer <softwareentrepreneer+pfeed@gmail.com>"]
channels = ["conda-forge"]
name = "pfeed"
platforms = ["osx-arm64", "linux-64"]
# updating this needs to also update the version in the ci.yml and templates/ci-workflow-template.yml files
requires-pixi = ">=0.62.2"  # command: pixi workspace requires-pixi set ">=0.62.2"

[tasks]

[tasks.test-all]
depends-on = [
  { task = "test", environment = "py311" },
  { task = "test", environment = "py312" },
  { task = "test", environment = "py313" },
]

[dependencies]
python = ">=3.11.14"
uv = ">=0.9.18"
openjdk = "21.*"

[pypi-dependencies]
pfeed = { path = ".", editable = true }
# TEMP
pfund = { path = "../pfund", editable = true }
fmp-api-client = { path = "../fmp-api-client", editable = true }
# pfund = ">=0.0.2"
# fmp-api-client = ">=0.0.1"
tqdm = ">=4.67.1"
pandas = ">=2.3.3"
polars = ">=1.36.1"
pyarrow = ">=22.0.0"
pandera = ">=0.27.1"
msgspec = ">=0.20.0"
pydantic = ">=2.12.5"
narwhals = ">=2.14.0"
zstandard = ">=0.25.0"
beautifulsoup4 = ">=4.14.3"
cloudpathlib = { version = ">=0.23.0", extras = ["s3", "gs", "azure"] }
# non-WASM-compatible dependencies
yfinance = ">=1.0"
ray = ">=2.53.0"
pyzmq = ">=27.1.0"
deltalake = ">=1.3.0"

[environments]
default = ["py311", "dev", "optional"]
py311 = ["py311", "test", "optional"]
py312 = ["py312", "test", "optional"]
py313 = ["py313", "test", "optional"]

[activation.env]
JAVA_HOME = "$CONDA_PREFIX/lib/jvm"
JDK_HOME  = "$JAVA_HOME"
PATH      = "$JAVA_HOME/bin:$PATH"

[feature.optional.pypi-dependencies]
prefect = ">=3.6.9"
# polars-cloud = ">=0.1.4"
dask = { version = ">=2025.12.0", extras = ["complete", "dataframe"] }
# coiled = ">=1.118.4"
pyspark = { version = ">=4.0.1", extras = ["connect", "pandas-on-spark", "sql"] }
duckdb = ">=1.4.3"
lancedb = ">=0.26.0"
# minio = ">=7.2.20"

[pypi-options.dependency-overrides]
pfeed = { path = ".", editable = true }
# TEMP
pfund = { path = "../pfund", editable = true }
fmp-api-client = { path = "../fmp-api-client", editable = true }

[feature.dev.pypi-dependencies]
afterpython = ">=0.1.1"
marimo = { version = ">=0.18.4", extras = ["recommended", "lsp"] }
pandas-stubs = ">=2.3.3.251219"

[feature.test.pypi-dependencies]
pytest = ">=9.0.2"
pytest-cov = ">=7.0.0"
pytest-mock = ">=3.15.1"
pytest-xdist = ">=3.8.0"
pytest-asyncio = ">=1.3.0"
pytest-recording = ">=0.13.4"
testcontainers = ">=4.13.3"
[feature.test.tasks]
test = "pytest -n auto -m 'not rate_limit'"
test-rate-limit = "pytest -m 'rate_limit'"
test-new = "pytest --record-mode=all"  # record new interactions, useful to update recordings in case data formats returned have changed
test-ci = "pytest --record-mode=none"  # fail a test if no recording is found

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.py313.dependencies]
python = "3.13.*"
