[tool.poetry]
name = "pfeed"
version = "0.0.1.dev4"
description = "Data pipeline for algo-trading, getting and storing both real-time and historical data made easy."
license = "Apache-2.0"
authors = ["Stephen Yau <softwareentrepreneer+pfeed@gmail.com>"]
readme = "README.md"
homepage = "https://pfund.ai"
repository = "https://github.com/PFund-Software-Ltd/pfeed"
documentation = "https://pfund.ai/docs"
keywords = ["trading", "algo-trading", "data pipeline", "ETL", "data lake", "data warehouse", "data integration", "historical data", "live data", "data streaming"]

[tool.poetry.dependencies]
python = "^3.10 <3.12"
pfund = "^0.0.1.dev4"
python-dotenv = "^1.0.1"
pyyaml = "^6.0.1"
beautifulsoup4 = "^4.12.3"
requests = "^2.31.0"
rich = "^13.7.0"
tqdm = "^4.66.2"
yfinance = "^0.2.36"
pandas = "^2.2.0"
ray = "^2.9.2"
pyarrow = "^15.0.0"
minio = "^7.2.4"
click = "^8.1.7"
platformdirs = "^4.2.0"

[tool.poetry.scripts]
pfeed = "pfeed.main:run_cli"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pfund = {path = "../pfund", develop = true}
pytest = "^8.0.0"
pre-commit = "^3.6.0"
bandit = "^1.7.7"
ruff = "^0.1.15"
pyright = "^1.1.349"

[tool.poetry.group.doc]
optional = true

[tool.poetry.group.doc.dependencies]
jupyter-book = "^1.0.0"
notebook = "^7.1.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
