[tool.poetry]
name = "pfeed"
version = "0.0.1.dev13"
description = "Data pipeline for algo-trading, getting and storing both real-time and historical data made easy."
license = "Apache-2.0"
authors = ["Stephen Yau <softwareentrepreneer+pfeed@gmail.com>"]
readme = "README.md"
homepage = "https://pfund.ai"
repository = "https://github.com/PFund-Software-Ltd/pfeed"
documentation = "https://pfeed-docs.pfund.ai"
keywords = ["trading", "algo-trading", "data pipeline", "ETL", "data lake", "data warehouse", "data integration", "historical data", "live data", "data streaming"]

[tool.poetry.dependencies]
python = ">=3.10 <3.13"
pfund = "^0.0.1.dev13"
beautifulsoup4 = "^4.12.3"
yfinance = "^0.2.43"
fastparquet = "^2024.5.0"
psutil = {version = "^6.0.0", optional = true}
minio = {version = "^7.2.8", optional = true}
s3fs = {version = "^2024.6.1", optional = true}
pandas = {version = "^2.2.2", optional = true}
polars = {version = "^1.5.0", optional = true}
connectorx = {version = "^0.3.3", optional = true}
pyarrow = {version = "^15.0.0", optional = true}
ray = {version = "^2.34.0", optional = true}

[tool.poetry.extras]
df = ["pandas", "polars"]
data = ["psutil", "minio", "s3fs"]
boost = ["pyarrow", "connectorx", "ray"]
all = ["pandas", "polars", "psutil", "minio", "s3fs", "pyarrow", "connectorx", "ray"]

[tool.poetry.scripts]
pfeed = "pfeed.main:run_cli"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pfund = { path = "../pfund", develop = true }
commitizen = "^3.24.0"
mypy = "^1.9.0"
ruff = "^0.3.5"
grayskull = "^2.5.3"

[tool.poetry.group.test.dependencies]
pytest = "^8.0.0"
pytest-xdist = "^3.5.0"
pytest-mock = "^3.14.0"
pytest-cov = "^5.0.0"
pre-commit = "^3.6.1"
tox = "^4.14.2"
faker = "^24.4.0"
bandit = "^1.7.7"

[tool.poetry.group.doc.dependencies]
jupyter-book = "^1.0.2"
notebook = "^7.2.2"
sphinxawesome-theme = "^5.2.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
